/*
    reset settaggi css
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*
COLOR PALETTE i colori del brand MMPERFORMANCETRAINING
i colori espressi in codice esadecibale, rgb
#007a14 VERDE DELLA SALUTE, DEL BENESSERE
#ff0000 ROSSO DEL SANGUE, DELL'ATTIVITA
#19535f BLU 
#2d3047 BLUSCURO
https://coolors.co/visualizer/007a14-ff0000-19535f

FONT del brand da usare
BEBAS NEUES
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
*/

html {
    margin: auto;
    color: #2d3047;
    font-family: 'Bebas Neue', sans-serif;
}

body {
    background-color:#19535f;
}

header {
    width: 100hv;
    background-color: white;
}

.menu > ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.menu > ul > li {
    list-style: none;

}

.menu a {
    text-decoration: none;
    font-size: 24px;
    color: #19535f;
}

.menu a:hover {
    text-decoration: none;
    color: #ff0000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2d3047;
}

h1 {
    font-size: 48px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #2d3047;
}

.hero {
    background-color: #2d3047;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

#logo{
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#anello,#logomm {
    max-width: 100%;
}

#anello {
    animation: rotation 4s linear infinite;
}

#background-hero {
    width: 1000px;
}

.section-content {
    width:110hv;
    max-width: 970px;
    margin: auto;
}

.section-articles {
    background-color: #19535f;
}

.article {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 600px;
    overflow: hidden;
  }

.article-title {
    z-index: 1;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.822);
    position: absolute;
    right: 0;
    top: 10%;
    padding: 20px;
}


.article-title > h2 {
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #2d3047;
    color: #ff0000;
}

.article > img {
    z-index: 0;
}

.article-text {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.733);
    position: absolute;
    bottom: 10%;
    max-width: 90%;
    max-height: 350px;
    padding: 20px;
    overflow: hidden;
}

.article-text > p {
    max-height: 350px;
    color: #19535f;
}

.article a {
    text-decoration: none;
    font-size: 48px;
    color: white;

}

#article2 > .article-text {
    right: 30%;
    top: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-container {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    width: 90%;
    height: 60%;
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 5%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 218px;
    min-width: 198px;
    height: 285px;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    overflow: hidden;
    transform: transform 0.5s;
    padding: 10px;
}

.card:hover {
    transform: scale(2) translateY(-50px);
}

.card-title {
    background-color: white;
    color: #ff0000;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #2d3047;
    top:0;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-image {
        background-color: #747474;
        top:20%;
        height: 50%;
        width: 100%;
        text-align: center;
        overflow: hidden;
}

.card-text {
    background-color: #ff0000;
    bottom: 0;
    height: 30%;
    width: 100%;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#article5 > .article-text {
    width: 800px;
    right: 0;
    margin-right: 8%;
    border-radius: 5px;
    color: #19535f;
    animation: highlight 4s linear infinite;
}

/*
SETTAGGI CSS PER INPUT FORM PER EMAIL
input {
    background-color: #2d3047;
    color: white;
    border-color: #2d3047;
}
*/

/*
RESPONSIVE A VARIE DIMENSIONI
815px per la variazione del menu
*/

@media (max-width: 815px) {
    .menu > ul {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .article-title {
        width: 300px;
    }

    .article a {
        font-size: 32px;
    }

    #article5 > .article-text {
        margin-right: 5%;
    }
}

/*
ANIMATION
*/

@keyframes rotation {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
}

@keyframes highlight {
    0% {
        background-color: #ff0000ab;
        scale: 100%;
      }
      50% {
        background-color: #ff2600d3;
        scale: 102%;
      }
      100% {
        background-color: #ff0000ab;
        scale: 100%;
      }
}